.header{
    background-color: var(--white); 
    padding: 0px 0 77px;
    color: var(--black);
}
 
.header__title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    margin: 0px;

}

.header__logo{
    margin: 0px;
    padding-left: 3px; 
    padding-top: 25px;
    padding-bottom: 40px;
}

.header__triangle{
	width: 0;
	height: 0;
	border-bottom: 30px solid var(--black); 
	border-right: 30px solid transparent;	
    display: inline-block;

}

.header__square{
        width: 30px;
        height: 30px;
        background: var(--black);
        display: inline-block;

  }

  .header__circle{
    width: 30px;
    height: 30px;
    background: var(--black);
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    display: inline-block;

}
