.header {
  color: var(--font-1);
}

.header__upper-nav {
  display: flex;
  justify-content: space-between;
  padding: 25px 0;
}

.header__upper-nav-block {
  display: flex;
  align-items: center;
}

.header__upper-nav-block_theme{
  justify-content: space-between;
  width: 130px;
  gap: 14px;
}

.header__title {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 64px;
  margin: 0px;
  padding-top: 9px;
  padding-bottom: 40px;
}

.header__nav {
  display: flex;
  gap: 24px;

  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
}

.header__filler {
  width: 32px;
  display: none;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .header__filler {
    display: flex;
  }

  .header__nav {
    display: none;
  }

  .header__upper-nav_inner {
    padding: 17px 0;
    background-color: var(--bg-2);
  }

  .header__upper-nav_burger {
    border-bottom: 1px solid var(--border-1);
    padding-bottom: 32px;
  }
  
  .header__title {
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 38px;
    margin: 0px;
    padding-top: 9px;
  }
}
