
.tabs__scroller{
    display: flex;
    gap: 40px;
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* max-height: 44px; */
}
.tabs__scroller_inner{
  padding: 0 48px;
}

.tabs__label{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    cursor: pointer;
    padding-bottom: 8px;
    flex-shrink: 0;
    
}

 

.tabs__input {
  display: none;
}

#all-tab:checked ~ .page__main .container .preview__inner_all,
#elements-tab:checked ~ .page__main .container .preview__inner_elements,
#containers-tab:checked ~ .page__main .container .preview__inner_containers,
#templates-tab:checked ~ .page__main .container .preview__inner_templates, 

#html_tab:checked ~  .content__wrapper .content__text_html ,
#css_tab:checked ~   .content__wrapper .content__text_css 
{
  display: flex;
}

#all-tab:checked ~          .tabs .container .tabs__scroller .tabs__label_all,
#elements-tab:checked ~     .tabs .container .tabs__scroller .tabs__label_elements,
#containers-tab:checked ~   .tabs .container .tabs__scroller .tabs__label_containers,
#templates-tab:checked ~    .tabs .container .tabs__scroller .tabs__label_templates , 

#html_tab:checked ~       .tabs .tabs__scroller .tabs__label_HTML , 
#css_tab:checked ~        .tabs .tabs__scroller .tabs__label_CSS 
{
  border-bottom: 5px solid var(--black);
}

