/* Стилизация кнопки */
.button {

    height: 48px;
    width: 189px;
    left: 0px;
    top: 0px;
    border-radius: 8px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;
 }

.button__primary {
   background-color: #4263EB; 
   color: var(--white);
}

.button__primary:hover {
    background-color: #2342C0; 
 }


.button__secondary {
    background-color: #7048E8; 
    color: var(--white);
}
.button__secondary:hover {
    background-color: #5028C6; 
}


.button__alternate {
    background: none; 
    color: var(--black);
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
}
.button__alternate:hover {
    border: 1px solid #212429;
}

.button_disabled {
    opacity: 0.5;
    pointer-events:none;
}