@import '/assets/fonts/fonts.css';
@import '/assets/css/normalize.css';
@import '/components/header/header.css';
@import '/components/container/container.css';
@import '/components/footer/footer.css';
@import '/components/menu/menu.css';
@import '/components/icon/icon.css';
@import '/components/content/content.css';
@import '/components/tabs/tabs.css';

:root {
  --white: #ffffff;
  --black: #212429;
  --pink: #f784ad;
  --purple: #7048e8;
  --blue: #374fc7;
  --red: #f03d3e;
  --grey-1: #f8f9fa;
  --grey-2: #dde2e5;
  --grey-3: #acb5bd;
  --grey-4: #495057;

  --error: var(--red);
  --success: var(--blue);

  --primary: var(--blue);
  --secondary: var(--purple);
}

html,
body {
  height: 100%;
}

body {
  font-family: 'Roboto', sans-serif;
}



.template {
  height: 100%;
  display: flex;
  flex-direction: column;

  background-color: #e5e5e5;
}

.template__main {
  flex-grow: 1;
  padding-bottom: 16px;

}

.template__inner {
  display: grid;
  grid-template-columns: 285px 1fr;
  height: 100%;
  
 }



.template__preview{

}


@media screen and (max-width: 768px) {

  .template__inner {
    display: block;
    height: 100%;
    
  }

}
