.card{
    background-color: var(--white);
    width: 350px;
    height: 367px;
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
}


@media screen and (max-width: 768px) {
 
    .card{
      flex:  0 0 164px;
      height: 231px;
    }
  }
  
.card__title{
/* Avatar */

 

font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 21px;
line-height: 25px;
text-align: center;

color: var(--black);

}

.card__subtitle{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: var(--grey-4);


}  

.card__line{
    height: 1px;
    background: var(--grey-2);
}