.card{
    background-color: var(--white);
    width: 350px;
    /* height: 367px; */
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.card__description{
  height: 82px;
}

.card__preview{
  height: 285px;
  display: flex;
  justify-content: center;
  align-items: center;

  }  

.card__line{
    height: 1px;
    background: var(--grey-2);
    border: 0;
    display: none;
}
.card__title{

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 25px;
  text-align: center;

  color: var(--black);

  margin-bottom: 6px;
  
}

.card__subtitle{

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;

color: var(--grey-4);


}  



@media screen and (max-width: 768px) {
  .card__line{
    display: block;
  }
  .card{
    flex:  0 0 164px;
    height: 231px;
  }
}