/* Стилизация аккордеона */
.accordion {
  
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    display: flex;
    flex-direction: column;   
    gap: 8px;
}
.accordion__section {
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    background-color: var(--white);
    padding: 24px 48.69px 24px 32px;
}
.accordion__summary {
    color: #212429;
    list-style:none ;
}
.accordion__text {
    color: #495057;
}
 