.button {

    height: 48px;
    width: 189px;
    left: 0px;
    top: 0px;
    border-radius: 8px;


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */

    text-align: center;

 }

.button__primary {
   background-color: #4263EB; 
   color: var(--white);
   transition: opacity 200ms ease-in-out, background 200ms ease-in-out;

}

.button__primary:hover {
    background-color: #2342C0; 
 }

 

.button_disabled {
    opacity: 0.5;
    pointer-events:none;
}