@import '../fonts/fonts.css';
@import './normalize.css';
@import '../../components/header/header.css';
@import '../../components/preview/preview.css';
@import '../../components/footer/footer.css';
@import '../../components/page/page.css';
@import '../../components/container/container.css';
@import '../../components/card/card.css';
@import '../../components/icon/icon.css';
@import '../../components/icon/logo.css';
@import '../../components/tabs/tabs.css';
@import '../../components/menu/menu.css';
@import '../../components/content/content.css';
@import '../../components/template/template.css';
@import '../../07-lection5/03-toggler/toggler.css';

:root {
    --white: #ffffff;
    --white-2: #f9fafc;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --blue: #374FC7;
    --blue-2: #4263EB;
    --red: #F03D3E;
    --orange: #D84910;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);


    --bg-1: var(--white);
    --bg-2: var(--white-2);
    --border-1 : var(--grey-2);
    --border-2 : var(--black);
    --border-3 : var(--grey-4);
    --border-4 : var(--grey-3);
    --font-1 : var(--black);
    --font-2 : var(--grey-4);
    --font-3 : var(--grey-3);
    --font-4 : var(--orange);

    --icon-1 : var(--black);
    --icon-2 : var(--grey-2);
    --icon-3 : var(--grey-3);
    
}

html,body{
    height: 100%;
}

html[data-theme-dark]{
    --bg-1: #38444c;
    --bg-2: #2a2f31;
    --border-1 : #505b63;
    --border-2 : #cfd4d7;
    --border-3 : #737e86;
    --border-4 : #9fa2a4;
    --font-1 : #f0f2f3;
    --font-2 : #cedbe3;
    --font-3 : #c8cdd0;
    --font-4 : var(--orange);

    --icon-1 : #f0f2f3;
    --icon-2 : #acbfc6;
    --icon-3 : #7a878c;
}

body {
    font-family: 'Roboto', sans-serif;
}
