.calendar {
    max-width: 304px;
    border: 1px solid #ACB5BD;
    padding: 30px;
 
    border-radius: 8px;
    

}
.calendar__title {
    text-align: center;
    margin-bottom: 24px;


    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
     
 
}
.calendar__wrapper {
    padding-bottom: 100%;
    background-color: aqua;
}
.calendar__inner {
}