.skeleton {
    height: 136px;
    /* width: 579px; */
    border-radius: 8px;
    padding: 24px 40px 32px 24px;
    border: 1px solid #ACB5BD
}
.back-gradient {
    background: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}
 .skeleton__header {
    display: flex;
 }

.skeleton__header-left {
    height: 64px;
    width: 64px;
    border-radius: 35px;
    background-color: #DDE2E5;

}
.skeleton__header-right {
    margin-left: 16px;
}
.skeleton__header-text1 {
    height: 20px;
    width: 172px;
    margin: 8px 0px 8px 0px;
}
.skeleton__header-text2 {
    height: 20px;
    width: 257px;
    margin: 8px 0px 8px 0px;
}
.skeleton__body {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    gap: 8px
}
.skeleton__body-text {
    height: 20px;
}