.skeleton {
  border-radius: 8px;
  padding: 24px 24px 32px 24px;
  border: 1px solid var(--grey-3);
}

.skeleton__header {
  display: flex;
}

.skeleton__header-left {
  height: 64px;
  width: 64px;
  border-radius: 32px;
  animation: radGradient 5s linear infinite;
  background: radial-gradient(at 10% 120%, var(--grey-2) 30%, var(--grey-3) 60%, var(--grey-1) 90%);
  background-size: 100% 100%;

}
.skeleton__header-right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex-grow: 1;
  margin-left: 16px;
}

.skeleton__body {
  margin-top: 24px;
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.skeleton__line {
   background: linear-gradient(
      90deg,
      #DDE2E5 40%,
      var(--white) 50%,
      #DDE2E5 60%
    );
    background-size: 200% ;
    height: 20px;
}

.skeleton__line_body-short {
  width: 40%;
  animation: lnGradient 3s linear infinite;

}
.skeleton__line_body-long {
  width: 58%;
  animation: lnGradient 4s linear infinite;
}

.skeleton__line_header-short {
  width: 97%;
  animation: lnGradient 5s linear infinite;
}
.skeleton__line_header-long {
  width: 89%;
  animation: lnGradient 2s linear infinite;

}

@keyframes lnGradient{
	0% {
		background-position: -20% ;
	}
	100% {
		background-position: 120% ;
	}
}

@keyframes radGradient{
	0% {
    background-size: 150% 150%;

		transform: rotate(0deg);
	}
	50% {
    background-size: 100% 100%;
	}
	100% {
    background-size: 150% 150%;

		transform: rotate(360deg);
	}
}