.footer {
  background: var(--bg-1);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  text-align: center;
}

.footer_inner {
  background: transparent;
}

.footer__inner-title {
  
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: var(--grey-3);

  margin-bottom: 56px;  

}

.footer__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: var(--font-1);
}
.footer__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
  color: var(--font-1);
}


@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }

}
