.footer {
  background: var(--white);
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Inter;
  text-align: center;
}

.footer__text {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
  color: var(--black);
}
.footer__title {
  font-size: 38px;
  font-weight: 500;
  line-height: 48px;
  letter-spacing: 0em;
}

.footer_inner {
  height: 114px;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0.04em;
  color: #acb5bd;
  background: transparent;

}

@media screen and (max-width: 768px) {
  .footer {
    display: none;
  }

}
