.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
}

.checkbox__input:checked ~ .checkbox__state .checkbox__control {
  background-color: var(--blue-2);
}
.checkbox__input:focus ~ .checkbox__state .checkbox__title {
  text-decoration: underline;
}

.checkbox__input:disabled ~ .checkbox__state .checkbox__control {
  background-color: var(--grey-2);
}
.checkbox__input:disabled ~ .checkbox__state .checkbox__title {
  color: var(--grey-2);
}

.checkbox__state {
  display: inline-flex;
  gap: 12px;
  align-items: center;
  cursor: pointer;
}

.checkbox__control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  height: 28px;
  width: 28px;
  border-radius: 4px;
  border: 1px solid var(--grey-2);
}

.checkbox__title {
 font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0em;
text-align: left;
 
}

.checkbox_icon {
    display: none;
  }

.checkbox__input:checked ~ .checkbox__state .checkbox_icon {
    display: inline-block;
  }
  
  
.circle{
    width: 30px;
    height: 30px;
    border-radius: 10%;
    visibility: hidden;
  
    background:  rgba(136, 136, 136,0.6);
    position: absolute;
    z-index: -1;
}

.checkbox__input:checked ~ .checkbox__state .circle{
    animation-duration: 350ms;
    animation-name: expand;
}

@keyframes expand {
    from {
        visibility: unset;
    }
  
    40%{
         transform: scale(2,2);
         opacity: 0.1;
    }

    to {
        opacity: 0;
        visibility: hidden;
        transform: scale(0,0);
    }
  }
