.content {
    height: 100%;
    flex-grow: 1;
    flex-direction: column;
  
    background-color: var(--white);
  
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
  }

 .content__title{

    font-family: Inter;
    font-size: 28px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: 0em;
    color: var(--grey-4);

 } 

 .content__preview{
   padding: 32px 48px;
 }
 .content__nav{
    padding: 0 48px;

 }
 .content__dividing{
    height: 1px;
    background: var(--grey-2);
    border: 0 none;
 }

 .content__wrapper{
   padding: 50px 42px 64px 42px;

 }

.content__text{
    display: none;
    overflow-x: auto;

}

.content__text-scroller{
   width: 0 ;
}

 .content__text_html{
    display: none;
 }
 .content__text_css{
    display: none;
 }

 .content__avatar {
   height: 160px;
   width: 160px;
       
   }
