
.burger__body{
    width: 100vw;
    height: 100vh;
    background: var(--bg-2);
    position: fixed;
    visibility: hidden;
 
    top: 0;
    left: 0;
    transform: translateX(-100vw);
    transition: transform 200ms linear, visibility 200ms linear;
}


.burger__header{

    border-bottom: 1px solid var(--grey-2);
    display: flex;

    justify-content: space-between;
    padding: 17px 0;
    background-color: var(--white-2);
    padding-bottom: 32px;  

}

.burger__theme-toggler{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--border-1);
    padding: 28px 0 24px 0 ;
}

.burger__toggler-label{
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    user-select: none;
    color: var(--font-2);

}

.burger__close-button-circle{
    background: var(--grey-2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .burger__close-button-cross{
    width: 24px;
    height: 24px;
    color: var(--black);
  }

  .burger__input{
    display: none;
  }

 
  .burger__filler {
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

    @media screen and (max-width: 768px) {
        .burger__input:checked ~ .burger__body{
            visibility: visible;
            transform: none;}
            
    
    }

