.burger__input{
    display: none;
  }
.burger{
    width: 100%;
    height: 100vh;
    background: var(--white-2);
    position: fixed;
    display: none;
    padding: 16px 12px;
}


.burger__header{
    height: 64px;
    border-bottom: 1px solid var(--grey-2);
    display: flex;

}

@media screen and (max-width: 768px) {

    .burger__input:checked ~ .burger{
        display: block;
    }
      
  }