.icon {
    width: 32px;
    height: 32px;
    color: var(--black);
 }
 
 
.icon__day{
  width: 24px;
  height: 24px;
  color: var(--black);
}

.icon__night{
  width: 24px;
  height: 24px;
  color: var(--grey-3);
}
  
  .logo {
    margin: 0px;
    text-decoration: none;
    display: flex;
    width: 112px;
    gap: 8px;
  }

.close-button{
  width: 32px;
  height: 32px;
  background: var(--grey-2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button__cross{
  width: 24px;
  height: 24px;
  color: var(--black);
}