.preview {
  background: var(--bg-2);

}

.preview__inner {
  padding: 68px 0;
  flex-wrap: wrap;
  justify-content: center;  	 

  gap: 30px; 

  display: none;

}


@media screen and (max-width: 768px) {
  .preview__inner {
    padding: 24px 0;
    gap: 16px;
  }

}
