.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.form-label {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--grey-3);
}

.text-field {
  display: inline-block;
}

.text-field__input {
  background: var(--white);
  border: 1px solid var(--grey-2);

  height: 56px;
  width: 350px;
  border-radius: 8px;
  padding: 17px 40px 13px 24px;
  box-sizing: border-box;
}
.text-field__input::placeholder {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--grey-2);
}

.text-field {
  position: relative;
}

.text-field__icon_success,
.text-field__icon_error {
  display: none;
  height: 24px;
  width: 24px;
  position: absolute;
  direction: rtl;
  right: 28px;
  top: 17px;
}

.form-group_success .text-field__icon_success {
  display: block;
  color: #4263eb;
}
.form-group_eror .text-field__input {
  border-color: #f03d3e;
  box-shadow: 0px 1px 1px 0px #f03d3e1a;
}
.form-group_eror .text-field__icon_error {
  display: block;
  color: #f03d3e;
}

.text-field__input:focus {
  outline: none;
  border: 1px solid #4263eb;
  box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
}
